* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background: #669900;
}

h1 {
  color: #fff;
}

.meme-container {
  position: relative;
  min-height: 600px;
  min-width: 600px;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  color: white;
  line-height: 1.2;
}

.top_text_container,
.bottom_text_container {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  max-width: 500px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  left: 0;
  right: 0px;
  word-break: break-all;
}

.top_text_container {
  top: 7%;
}

.bottom_text_container {
  bottom: 7%;
}
